h1
{
    color: brown;
    font-size: 1.6rem;
    font-style: italic;
}
h2{
    font-size: 1rem;
    font-style: italic;
}
.alert-class
{
  background-color: #9cbfda;
}

#alert {
    padding: 20px;
    background-color: green;
    color: white;
    width: 17rem;
    float:right;
  }

.dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown a:hover {background-color: #ddd;}
  
  .show {display: block;}

  .nav-class > nav {
    display: flex;
    justify-content: center;
  }

  .nav-class > nav >.nav-comb >.nav-img
  {
    width: 4rem;
    height: 4rem;
    margin-right: 1rem;
  }
  .nav-class > nav >.nav-comb >.nav-img > img
  {
    width: 100%;
    height: 100%;
  }
  .nav-class > nav >.nav-comb >.nav-heading > h1{
   font-size: 2rem;
   font-style: italic;
  }
  





  .nav-class > nav
  {
      display: flex;
      justify-content: space-between;
  }
  .nav-class > nav >.nav-comb{
      display: flex;
      justify-content: space-between;
  }


  .main{
      display: grid;
      grid-template-columns: 20% 80%;
  }
  .main > .left-section 
  {
      background-color:lightyellow;
      display: flex;
      flex-direction: column;
  }
  .main > .right-section
  {
      background-color: darkgray;
      
      /* display: flex; */
  }
  .main > .right-section >.right-comb{
      padding: 1.5rem;
  }


  .main > .right-section >.right-comb> .userDetails
  {
      /* height: 10rem; */
      background-color: white;
      /* width: 14rem; */
      padding: 1rem;
      padding-top: 0.5rem;
      
  }

  .main > .right-section > .right-comb>.userDetails > .flex
  {
      display: flex;
      justify-content: space-between;
  }
  .main > .right-section >.right-comb >.bussinessOverview
  {
    /* height: 13rem; */
    background-color: white;
    /* width: 14rem; */
    padding: 1rem;
    padding-top: 0rem
  }
  .main > .right-section >.right-comb >.bussinessOverview >.flex
  {
    display: flex;

    justify-content: space-between;
  }
  .main > .right-section >.right-comb >.bussinessDetails
  {
    /* height: 16rem; */
    background-color: white;
    /* width: 17rem; */
    padding-top: 0rem;
    padding: 1rem;
    margin-top: 1rem
  }
  .main > .right-section >.right-comb>.bussinessDetails > .flex
  {
    display: flex;
    justify-content: space-between;
  }
  
.main >.right-section>.QrCode
{
    display: flex;
    justify-content: center;
}

  #qrcode > img{
      height: 100%;
      width: 100%;
      margin-left: 15rem;
  }
  .main > .left-section > button
  
  {
      height: 3rem;
     
      margin-bottom: 0.5rem;
    background-color: #D2B48C;
    color: white;
    font-size: 1.2rem;
    font-style: italic;
    
  }